<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jovens Tegranos</title>

    <!--  Autoria própria -->
    <link rel="stylesheet" href="../../assets/css/global.css">
    <script src="../../index.js" charset="utf-8" defer></script>
    <script src="../../controllers/exercicio-09/exercicio-09.js" charset="utf-8" defer></script>

    <!--  De terceiros -->
    <script src="https://kit.fontawesome.com/8825d8f512.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header class="header-container">
      <div class="logo-container">
        <a href="https://tegra.com.br/" target="_blank" rel="noopener noreferrer"><img src="../../assets/img/tegra-logo.png" alt="Logo da Tegra"></a>
      </div>
      <nav>
        <ul class="menu-container">
          <li><a href="../../index.html" class="border-effect">Home <i class="fa-solid fa-house"></i></a></li>
          <li>
            <a href="#" class="border-effect">Exercícios <i class="fa-solid fa-dumbbell"></i></a>

            <nav class="nav-dropdown">
              <ul class="menu-dropdown">
                <h2 class="dropdown-title">Exercícios 1 - 10</h2>
                <li><a href="../exercicio-01/exercicio-01.html">Exercício 1</a></li>
                <li><a href="../exercicio-02/exercicio-02.html">Exercício 2</a></li>
                <li><a href="../exercicio-03/exercicio-03.html">Exercício 3</a></li>
                <li><a href="../exercicio-04/exercicio-04.html">Exercício 4</a></li>
                <li><a href="../exercicio-05/exercicio-05.html">Exercício 5</a></li>
                <li><a href="../exercicio-06/exercicio-06.html">Exercício 6</a></li>
                <li><a href="../exercicio-07/exercicio-07.html">Exercício 7</a></li>
                <li><a href="../exercicio-08/exercicio-08.html">Exercício 8</a></li>
                <li><a href="#">Exercício 9</a></li>
                <li><a href="../exercicio-10/exercicio-10.html">Exercício 10</a></li>
              </ul>

              <ul class="menu-dropdown">
                <h2 class="dropdown-title">Exercícios 11 - 20</h2>
                <li><a href="#">Exercício 11</a></li>
                <li><a href="#">Exercício 12</a></li>
                <li><a href="#">Exercício 13</a></li>
                <li><a href="#">Exercício 14</a></li>
                <li><a href="#">Exercício 15</a></li>
                <li><a href="#">Exercício 16</a></li>
                <li><a href="#">Exercício 17</a></li>
                <li><a href="#">Exercício 18</a></li>
                <li><a href="#">Exercício 19</a></li>
                <li><a href="#">Exercício 20</a></li>
              </ul>

              <ul class="menu-dropdown">
                <h2 class="dropdown-title">Exercícios 21 - 30</h2>
                <li><a href="#">Exercício 21</a></li>
                <li><a href="#">Exercício 22</a></li>
                <li><a href="#">Exercício 23</a></li>
                <li><a href="#">Exercício 24</a></li>
                <li><a href="#">Exercício 25</a></li>
                <li><a href="#">Exercício 26</a></li>
                <li><a href="#">Exercício 27</a></li>
                <li><a href="#">Exercício 28</a></li>
                <li><a href="#">Exercício 29</a></li>
                <li><a href="#">Exercício 30</a></li>
              </ul>
            </nav>
          </li>
          <li><a href="mailto:jvteodorobrasil@gmail.com" class="border-effect">Contato <i class="fa-solid fa-address-book"></i></a></li>
        </ul>

        <div class="hamburguer-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>

      </nav>

      <a href="https://github.com/jvictort/jovens-tegranos" target="_blank" rel="noopener noreferrer" class="border-effect repo-link">Repositório <i class="fa-brands fa-github"></i></a>
    </header>

    <main>
      <section class="home-section">
        <div class="home-text">
          <h1>Exercício <span>09</span></h1>
          <p>Segundos para horas e minutos</p>
        </div>


        <div class="home-content">
          <form class="form-container" action="" method="">
            <fieldset>
              <legend>Exercício 09</legend>

              <div class="form-fields">
                <input type="number" min="0" name="seconds" required class="form-input">
                <label for="seconds" class="form-label validated-label">Segundos</label>
              </div>

              <button type="submit" name="button" class="form-button">Calcular</button>
            </fieldset>
          </form>

          <div class="content-text">
            <!--  Elementos controlados via Javascript -->

            <h2 id="content-title">Não há resultados a serem mostrados..</h2>
            <div id="content-result"></div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
