@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --medium-pink: #C43E76;
  --darker-pink: #992f5b;
  --medium-black: #1A191B;
  --white: #FFFFFF
}

/*  MENU */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 8em;
  background-color: var(--medium-black);
  transition: all 0.3s;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container img {
  width: 3.5em;
}

.menu-container {
  display: flex;
  gap: 3.5em;
  list-style: none;
}

.menu-container li {
  position: relative
}

.header-container a {
  position: relative;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 300;
  padding: 0.5em;
  color: var(--white);
}

.menu-container li a {
  text-transform: uppercase;
}

.header-container a.border-effect::after {
  content: "";
  position: absolute;
  background-color: var(--white);
  height: 1px;
  width: 0%;
  left: 0;
  bottom: -3px;
  transition: all 0.3s;
}

.header-container a.border-effect:hover::after {
  width: 100%;
}

.menu-container li .nav-dropdown {
  display: flex;
  /* border: 1px solid red; */
  gap: 1em;
  justify-content: space-around;
  visibility: hidden;
  width: 100%;
  position: fixed;
  top: 3.5em;
  left: 0;
  padding: 0.5em 10em;
  background-color: var(--medium-black);
}

.menu-container .list-dropdown:hover .nav-dropdown,
.menu-container .list-dropdown.over .nav-dropdown {
  visibility: visible;
}

.menu-dropdown {
  border-left: 3px solid var(--white);
  padding: 0.5em;
  list-style: none;
}

.dropdown-title {
  font-size: 1.3em;
  color: var(--medium-pink)
}

.menu-dropdown li a {
  text-transform: capitalize;
  transition: color 0.3s
}

.menu-dropdown li a:hover {
  color: var(--medium-pink);
}

.hamburguer-menu {
  display: none;
  cursor: pointer;
}

.hamburguer-menu .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all ease-in-out 0.3s;
  background-color: var(--white);
}

/* MAIN */

.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  background-image: url('../img/home-background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 2em 4em;
}

.home-text {
  border-left: 3px solid var(--white);
  padding: 0.5em;
  color: var(--white);
}

.home-text h1 {
  font-size: 2.8em;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.home-section span {
  color: var(--medium-pink);
}

.home-text h2 {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-top: -0.5em;
}

.home-img img {
  width: 15em;
}

.home-footer p {
  color: var(--white);
  font-size: 0.9em;
}

/*  Home Content */

.home-content {
  display: flex;
  justify-content: space-around;
  width: 80%;
  padding: 0.5em;
}

.content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 35%;
  color: var(--white);
  text-align: center;
}

.form-container {
  background: rgba(0, 0, 0, .7);
  border-radius: 1em;
  padding: 1em;
  width: 45%;
}

.form-container fieldset {
  border: 2px solid var(--white);
  padding: 1em;
}

.form-container fieldset legend {
  font-weight: 300;
  padding: 0.4em;
  background: var(--medium-pink);
  color: var(--white);
}

.form-container fieldset .form-fields {
  position: relative;
  margin-top: 4.5em;
  font-weight: 300;
}

.form-container fieldset .short-form-field {
  margin-top: 2.5em;
}

.form-container fieldset .form-fields .form-input {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  font-size: 0.9em;
  color: var(--white);
  letter-spacing: 0.5px;
  border-bottom: 1px solid var(--white);
}

.form-container fieldset .form-fields .select-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--white);
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  color: var(--white);
  cursor: pointer;
}

.form-container fieldset .form-fields .select-input .select-option {
  color: var(--medium-black);
}

.form-container fieldset .form-fields .form-label {
  color: var(--white);
  font-size: 0.9em;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.form-container fieldset .form-fields .validated-label {
  position: absolute;
  left: 0;
  top: -15px;
  font-size: 0.8em;
  color: var(--medium-pink);
}

.form-container fieldset .form-fields .form-input:focus ~ .form-label,
.form-container fieldset .form-fields .form-input:valid ~ .form-label {
  top: -15px;
  font-size: 0.8em;
  color: var(--medium-pink);
}

.form-container fieldset p {
  font-size: 0.8em;
  margin-top: 1.2em;
  text-align: center;
}

.form-container fieldset .form-button {
  border: none;
  padding: 0.5em;
  background-color: var(--medium-pink);
  color: var(--white);
  font-size: 0.8em;
  width: 100%;
  margin-top: 3em;
  cursor: pointer;
  border-radius: 1em;
  transition: background-color 0.3s;
}

.form-container fieldset .form-button:hover {
  background-color: var(--darker-pink);
}

/*  RESPONSIVIDADE */


/*  Dispositivos médios (tables) */
@media (max-width: 1050px) {
  .header-container {
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 0em 1em;
  }

  .header-container.active {
    padding: 0em 1.5em;
  }

  .header-container .menu-container {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--medium-black);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .header-container .menu-container li {
    margin: 16px 0;
  }

  .header-container .menu-container.active {
    left: 0;
  }

  .header-container .hamburguer-menu {
    display: block;
  }

  .header-container .hamburguer-menu.active .bar:nth-child(2) {
    opacity: 0
  }

  .header-container .hamburguer-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .header-container .hamburguer-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .header-container .repo-link {
    display: none
  }

  .nav-dropdown {
    z-index: 1;
    overflow: hidden;
  }

  .home-section {
    padding: 2em 1em;
  }

  .home-text {
    text-align: center;
  }

  .home-content {
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }

  .content-text {
    max-width: 100%;
  }

  .form-container {
    width: 70%;
  }
}

/*  Dispositivos pequenos (smartphones) */

@media (max-width: 650px) {

  .nav-dropdown {
    padding: 0.5em 0.5em;
  }

  .menu-dropdown {
    border-left: 1px solid var(--white);
  }

  .dropdown-title {
    font-size: 1.1em;
  }

  .menu-dropdown li a {
    font-size: 0.8em;
  }

  .home-content {
    width: 100%;
    padding: 1em;
  }

  .form-container {
    width: 100%;
  }
}
